<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52DA055F1F1866CA00920567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DA05731F1866D000920567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DA057E1F1866D100920567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
